<template>
  <div class="home-root">
    <HelloWorld msg="Welcome to TDoA App" />
    <div class="input-row">
      <span>Message: </span>
      <input class="message-box" v-model="msg" />
      <button class="send-button" v-on:click.stop.prevent="sendMessage">
        Send
      </button>
    </div>
    <ul class="message-list">
      <li v-bind:key="pong.key" v-for="pong in pongs">
        {{ pong.text }}
      </li>
    </ul>
  </div>
</template>

<script>
import { createNamespacedHelpers } from "vuex";

const { mapActions, mapMutations, mapState } = createNamespacedHelpers(`home`);

// @ is an alias to /src
import HelloWorld from "@/components/HelloWorld.vue";

export default {
  name: "home",
  components: {
    HelloWorld
  },
  metaInfo: {
    script: [
      {
        src: `https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js`,
        async: false,
        defer: false
      },
      {
        // TODO: move to configuration
        src: `http://localhost:5000/js/signalr/dist/browser/signalr.js`,
        async: false,
        defer: false
      }
    ]
  },
  computed: {
    ...mapState({
      pongs: state => state.pongs,
      message: state => state.message
    }),
    msg: {
      get() {
        return this.message;
      },
      set(value) {
        this.updateMessage(value);
      }
    }
  },
  methods: {
    ...mapMutations([`updateMessage`]),
    ...mapActions([`sendMessage`, `initSocket`, `shutdownSocket`])
  },
  mounted() {
    this.$nextTick(async () => {
      await this.initSocket();
    });
  },
  beforeDestroy() {
    this.shutdownSocket();
  }
};
</script>
