<template>
  <div class="tdoa-sim-root">
    <tdoa-chart
      :height="chartHeight"
      :chart-data="chartData"
      :options="options"
    />
  </div>
</template>

<script>
import { createNamespacedHelpers } from "vuex";

const { mapActions, mapState } = createNamespacedHelpers(`tdoaSim`);

// @ is an alias to /src
import TdoaChart from "@/components/TdoaChart.vue";

export default {
  name: "tdoa-sim",
  components: {
    TdoaChart
  },
  data() {
    return {
      chartHeight: 500
    };
  },
  computed: {
    ...mapState({
      chartData: state => {
        const { labels, datasets } = state;

        return { labels, datasets: datasets.filter(ds => ds.enabled) };
      },

      options: () => ({
        scales: {
          yAxes: [
            {
              ticks: {
                beginAtZero: true
              },
              gridLines: {
                display: true
              }
            }
          ],
          xAxes: [
            {
              ticks: {
                callback: value => value.toLocaleString()
              },
              gridLines: {
                display: false
              }
            }
          ]
        },
        legend: {
          display: true
        },
        responsive: true,
        maintainAspectRatio: false,
        animation: {
          duration: 0 // general animation time
        },
        hover: {
          animationDuration: 0 // duration of animations when hovering an item
        },
        responsiveAnimationDuration: 0, // animation duration after a resize
        elements: {
          line: {
            tension: 0 // disables bezier curves
          },
          point: {
            radius: 0
          }
        }
      })
    })
  },
  mounted() {
    this.$nextTick(async () => {
      try {
        await this.initSocket();
        this.runSim();
      } catch (error) {
        console.error(error);
      }
    });
  },
  beforeDestroy() {
    this.shutdownSocket();
  },
  methods: {
    ...mapActions([`runSim`, `initSocket`, `shutdownSocket`])
  },
  metaInfo: {
    script: [
      {
        src: `https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js`,
        async: false,
        defer: false
      },
      {
        // TODO: move to configuration
        src: `http://localhost:5000/js/signalr/dist/browser/signalr.js`,
        async: false,
        defer: false
      }
    ]
  }
};
</script>

<style scoped>
.tdoa-sim-root {
  height: 75vh;
  max-height: 75vh;
}
</style>
