<script>
import { Line, mixins } from "vue-chartjs";

const { reactiveProp } = mixins;

export default {
  extends: Line,
  mixins: [reactiveProp],
  name: "TdoaChart",
  props: [`options`],
  mounted() {
    this.renderChart(this.chartData, this.options);
  }
};
</script>

<style scoped lang="less">
h1 {
  margin: 40px 0 0;
}
</style>
